body{
    background: black;
}
.container{
    
    background: rgb(49, 48, 47);
    align-items: center;
    width: fit-content;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
h3{
    color:white;
}
input{
    margin:30px 10px 0px 10px;
    padding: 10px 0px 10px 10px;
    background-color:  rgb(143, 138, 138);
    border-radius: 5px;
    
}
button{
    padding: 10px;
    margin-bottom: 30px;
    background: green;
    border: 1px solid green;
    border-radius: 5px;
}
::placeholder{
    color: ivory;

}

